@use './font.scss';


@use './vp.scss';



.medium-zoom-overlay {
    z-index: 20;
}

.medium-zoom-image {
    background-color: rgb(250, 250, 250);
    padding: 10px;
    z-index: 2000;
    box-shadow: 3px 3px 5px #dedede,
        -3px -3px 5px #ffffff;
    border-radius: 5px;
}

::-webkit-scrollbar {
    display: none;
}