@use './font.scss';


@use './vp.scss';



.medium-zoom-overlay {
    z-index: 20;
}

.medium-zoom-image {

    background-color: var(--vp-c-bg);
    padding: 10px;
    z-index: 2000;
    box-shadow: 3px 3px 5px #dedede,
        -3px -3px 5px #faf9f9;
    border-radius: 5px;
}

::-webkit-scrollbar {
    display: none;
}