:root {

    h1 {
        margin: 50px;
        line-height: 28px;
        font-size: 36px;
        font-weight: 400;
        font-family: '优设标题黑';

        color: black;
        text-align: center;
        min-width: 100px;
        padding: 10px;

        display: none;

    }
}