@media (max-width: 768px) {
    .ph-all {
        width: 100%;
        min-height: 90vh;
        display: flex;
        flex-direction: column;

        .ph-nav {
            width: 80%;
            min-height: 40px !important;
            margin: 5px auto !important;
            background-color: var(--vp-c-bg);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            .ph-nav-item {
                width: 50px !important;
                height: 30px;
                line-height: 30px;
                text-align: center;
                font-family: '优设标题黑';
                font-size: 16px !important;
                color: rgb(80, 80, 80);
                color: var(--vp-c-text-1);

                margin: 5px !important;
            }
        }



        .ph-main {

            // background-color: rebeccapurple;
            width: 80%;
            margin: 0px auto;
            min-height: 10vh;
            display: flex;
            flex-direction: column;

            .ph-main-posts {

                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: flex-start;

                .ph-main-postCard {
                    width: 320px;
                    height: 250px;

                    margin: 10px;
                    border-radius: 10px;


                    box-shadow: 5px 5px 18px #dedede,
                        -5px -5px 18px #ffffff;

                    .ph-main-postCard-cover {
                        width: 320px;
                        height: 180px;
                        border-radius: 10px 10px 0 0;
                        ;
                        overflow: hidden;
                        transition: all 0.6s;

                        .ph-main-postCard-cover-img {
                            width: 100%;
                            height: 100%;
                            border-radius: 10px 10px 0 0;
                            transition: all 0.6s;
                        }

                    }

                    .ph-main-postCard-cover:hover {

                        transition: all 0.6s;


                        .ph-main-postCard-cover-img {
                            transform: scale(1.3);

                            transition: all 0.6s;
                        }

                    }




                    .ph-main-postCard-title {
                        background-color: var(--vp-c-bg);
                        height: 40px;
                        line-height: 40px;
                        text-align: center;
                        font-family: '优设标题黑';

                        color: var(--vp-c-text-1);


                    }

                    .ph-main-postCard-title:hover {
                        background: linear-gradient(45deg, #1d7e76, #6eb0ca, #5464b3, #3a2d8a, #432768, #b0339d);
                        -webkit-background-clip: text;
                        background-clip: text;
                        color: transparent;
                        transition: background 0.5s;
                        font-weight: 800;



                    }

                    .ph-main-postCard-info {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        padding: 0 5px;
                        height: 30px;

                        .ph-main-postCard-info-time {
                            // background-color: #d5d3da;
                            font-size: 10px;
                            padding: 0 10px;
                            border-radius: 5px;
                            height: 20px;
                            line-height: 20px;
                            color: #828e98;

                        }

                        .ph-main-postCard-info-tags {
                            display: flex;

                            .ph-main-postCard-info-tag {
                                margin: 0 5px;
                                min-width: 30px;
                                height: 20px;
                                line-height: 20px;
                                border-radius: 5px;
                                color: white;
                                text-align: center;
                                font-size: 10px;
                                padding: 0 5px;
                                background-color: #a0a0dd;
                                background-color: #b1b1dd;


                            }
                        }
                    }
                }
            }

            .ph-main-paginate {
                // background-color: rebeccapurple;
                display: flex;
                margin: 0 auto;
                margin-top: 20px;

                .ph-main-paginate-button {
                    width: 80px;
                    height: 30px;
                    line-height: 30px;
                    font-size: 14px;
                    margin: 0 20px;
                    border-radius: 5px;
                    text-align: center;
                    box-shadow: 2px 2px 8px #dedede,
                        -2px -2px 8px #ffffff;


                }


                .ph-main-paginate-item {
                    background-color: #d5d3da;
                    margin: 0 20px;
                    width: 20px;
                    height: 20px;
                    line-height: 20px;
                    text-align: center;
                    border-radius: 5px;
                    color: white;
                    font-size: 12px;
                }
            }

        }
    }
}